# Flutter/Dart
.dart_tool/
.packages
build/

# IDE
.idea/
.vscode/

# Env (keep local secrets out of git)
.env

#
.flutter-plugins-dependencies
*.iml

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
